#audio1::-webkit-media-controls-panel {
  background-color: #ff8800;
}

#audio2::-webkit-media-controls-panel {
  background-color: #1d4ed8;
}

audio::-webkit-media-controls-play-button {
  background-color: #F8F8F8;
  border-radius: 50%;
  margin-right: -10px;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #d1d5db;
}

audio::-webkit-media-controls-mute-button {
  background-color: #F8F8F8;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  font-size: 0px;
}

audio::-webkit-media-controls-time-remaining-display {
  font-size: 0px;
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#audio1::-webkit-media-controls-timeline {
  background-color: #ffb85b;
}

#audio2::-webkit-media-controls-timeline {
  background-color: #3b82f6;
}