audio::-webkit-media-controls-play-button {
  background-color: #F8F8F8;
  border-radius: 50%;
  margin-right: -10px;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #d1d5db;
}

audio::-webkit-media-controls-mute-button {
  background-color: #F8F8F8;
  border-radius: 50%;
}

audio::-webkit-media-controls-current-time-display {
  font-size: 0px;
}

audio::-webkit-media-controls-time-remaining-display {
  font-size: 0px;
}

audio::-webkit-media-controls-timeline {
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#audio0::-webkit-media-controls-panel {
  background-color: #ff8800;
}

#audio0::-webkit-media-controls-timeline {
  background-color: #ffc57a;
}

#audio1::-webkit-media-controls-panel {
  background-color: #1d4ed8;
}

#audio1::-webkit-media-controls-timeline {
  background-color: #5896f8;
}

#audio2::-webkit-media-controls-panel {
  background-color: #65a30d
}

#audio2::-webkit-media-controls-timeline {
  background-color: #a3e635
}

#audio3::-webkit-media-controls-panel {
  background-color: #dc2626
}

#audio3::-webkit-media-controls-timeline {
  background-color: #f87171
}

#audio4::-webkit-media-controls-panel {
  background-color: #9333ea
}

#audio4::-webkit-media-controls-timeline {
  background-color: #c084fc
}

#audio-playlist::-webkit-media-controls-panel {
  background-color: #ff8800;
}

#audio-playlist::-webkit-media-controls-timeline {
  background-color: #ffc57a;
}

#audio-playlist::-webkit-media-controls-play-button {
  background-color: #F8F8F8;
  border-radius: 50%;
}

#audio-playlist {
  width: 448px;
}

@media screen and (min-width: 768px) {
  #audio-playlist::-webkit-media-controls-current-time-display {
    font-size: 16px;
  }

  #audio-playlist::-webkit-media-controls-time-remaining-display {
    font-size: 16px;
  }

  #audio-playlist::-webkit-media-controls-play-button {
    background-color: #F8F8F8;
    border-radius: 50%;
    margin-right: 5px;
  }
}
