@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient(#999999 12%, transparent 5%),
       radial-gradient(#cccccc 12%, transparent 5%);
    background-color: #f8f8f8;
    background-position: 10px 0, 40px 30px;
    background-size: 60px 60px;
    width: 100%;
  }